@model IEnumerable<Capstone.Models.Artist>

@{
    ViewBag.Title = "PickArtists";
}

<h2>PickArtists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistSpotifyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistSpotifyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
    </tr>
}

</table>
