
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spotify Login</title>
</head>
<body>
    <div> <p><a href="@ViewBag.SpotifyAuthorizationUri" class="btn btn-primary btn-lg">Let's connect your Spotify account! &raquo;</a></p>
    </div>
</body>
</html>
